
@font-face {
    font-family: 'Roboto';
    src: url('/style/fonts/Roboto-Light.woff2') format('woff2'),
        url('/style/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/style/fonts/Raleway-Regular.woff2') format('woff2'),
        url('/style/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 14px;
  line-height: 22px;
  font-family: "Raleway", cursive;

  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

div, ul, li, ol{
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, form, img {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

#content ul {
  
    padding-bottom: 10px;
}

h1 {
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2, h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

h1:first-child {
  padding-top: 0 !important;
}

pre {
  margin: 0;
}

p code {
  font-size: 14px;
  background-color: #EEEEEE;
  color: #2E4C7E;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  margin-right: 1px;
}

.hljs {
  padding: 10px !important;
  margin-bottom: 10px;
}

form input {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}


a {
  color: #3588fe;
  text-decoration: none;
}

h1 a {
  color: #000;
}

h1 a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

#container {
  max-width: 800px;
  margin: 0;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 2px 2px #aaa;
  padding: 0;
}

/* SECTIONS */

#container > div {
  padding: 20px;
  padding-bottom: 0;
}

#container #header {
  border-bottom: thin dashed #aaa;
}

#container #header h1 {
  line-height: 80px;
  padding-left: 100px;
  font-size: 20px;
  background-image: url("/style/img/icon.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding-bottom: 20px;
  background-size: 80px 80px;
}

/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  #container #header h1 {
    background-image: url("/style/img/icon@2x.png");
  }  
}

#container #menu {
  border-bottom: thin dashed #aaa;
  padding-top: 10px;
  background-color: #f7f7f7;
}

#container #menu ul li, #container #footer ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  margin-right: 20px;
}

#container #content {
  /*background-color: #ccc;*/
}

#container #content ul {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  margin-left: 10px;
}

#container #content ul ul {
  padding-bottom: 0;
}

#container #content ul li {
  margin-left: 20px;
}

#container #content img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container #footer {
  border-top: thin dashed #aaa;
  background-color: #f7f7f7;
  padding-top: 10px;
}

#container #footer > p {
  padding-bottom: 10px;
}

form {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

form input {
  width: 100%;
  border-radius: 5px;
  
}

form input[type="text"] {
    border: none;
    padding: 10px;
    background-color: #ddd;
    border: thin solid #aaa;
}

form input[type="submit"] {
    border: none;
    padding: 10px;
    background-color: #3588fe;
    cursor: pointer;
    color: #fff;
}

form input[type="submit"]:hover {
    border: none;
    padding: 10px;
    background-color: #2874e0;
    cursor: pointer;
    color: #fff;
}
