
@font-face {
    font-family: 'Roboto';
    src: url('/style/fonts/Roboto-Light.woff2') format('woff2'),
        url('/style/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/style/fonts/Raleway-Regular.woff2') format('woff2'),
        url('/style/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

html {
  line-height: 22px;
  font-family: "Raleway", cursive;
}

body {
  background-color: #eee;
}

p, h1, h2, h3, h4, h5, form, img, table {
  margin-bottom: 10px;
}

p:last-child, h1:last-child, h2:last-child,
h3:last-child,h4:last-child, h5:last-child,
form:last-child, img:last-child, table:last-child {
  margin-bottom: 0 !important;
}

h1, h1 a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

h1 a {
  font-size: 20px;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1:first-child, h2:first-child, h3:first-child {
  margin-top: 0 !important;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 10px; /* change this to whatever height you want it */
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  border-color: #DDD;
}

th, td {
  font-weight: normal;
  text-align: left;
  padding: 10px;
}

th {
  background-color: #EFEFEF;
}

pre {
  margin: 0;
}

code {
  background-color: #EEEEEE;
  color: #2E4C7E;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  margin-right: 1px;
}

.type {
  color: #D73994;
}

.name {
  color: #3992D7;
}

.hljs {
  padding: 10px !important;
  margin-bottom: 10px;
}

a {
  color: #3588fe;
  text-decoration: none;
}

h1 a {
  color: #000;
}

h1 a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

#container {
  max-width: 800px;
  margin: 0;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 2px 2px #aaa;
  padding: 0;
}

/* SECTIONS */

#container > div {
  padding: 20px;
  padding-bottom: 0;
}

#container #header {
  border-bottom: thin dashed #aaa;
}

#container #header h1 {
  line-height: 80px;
  padding-left: 100px;
  background-image: url("/style/img/icon.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding-bottom: 20px;
  background-size: 80px 80px;
  margin: 0;
}

/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  #container #header h1 {
    background-image: url("/style/img/icon@2x.png");
  }  
}

#container #menu {
  position: relative;
  border-bottom: thin dashed #aaa;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

#container #footer {
  position: relative;
  border-top: thin dashed #aaa;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

#container #menu ul li, #container #footer ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
/*  padding-bottom: 10px;*/
  margin-left: 20px;
  line-height: 50px;
}

#container #menu ul li:last-child {
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 50px;
}

#container #content {
  position: relative;
  padding-bottom: 20px;
}

#container #content a.edit-markdown {
  display: block;
  padding: 5px;
  background-color: #DDD;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  color: #000;
}

#container #content a.edit-markdown:hover {
  text-decoration: none;
  background-color: #CCC;
}

#container #content ul {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  margin-left: 10px;
}

#container #content ul ul {
  padding-bottom: 0;
}

#container #content ul li {
  margin-left: 20px;
  /*margin-bottom: 0;
  margin-bottom: 0;
  padding: 0;*/
}

#container #content img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

form input {
  width: 100%;
  border-radius: 5px;
  
}

form input[type="text"] {
    border: none;
    padding: 10px;
    background-color: #ddd;
    border: thin solid #aaa;
}

form input[type="submit"] {
    border: none;
    padding: 10px;
    background-color: #3588fe;
    cursor: pointer;
    color: #fff;
}

form input[type="submit"]:hover {
    border: none;
    padding: 10px;
    background-color: #2874e0;
    cursor: pointer;
    color: #fff;
}
