
@font-face {
    font-family: 'monogram';
    src: url('/style/fonts/monogram_extended-webfont.woff2') format('woff2'),
         url('/style/fonts/monogram_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('/style/fonts/roboto-400.woff2') format('woff2'),
        url('/style/fonts/roboto-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-mono-light';
    src: url('/style/fonts/roboto-mono-300.woff2') format('woff2'),
        url('/style/fonts/roboto-mono-300.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans-light';
    src: url('/style/fonts/open-sans-300.woff2') format('woff2'),
        url('/style/fonts/open-sans-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('/style/fonts/open-sans-400.woff2') format('woff2'),
        url('/style/fonts/open-sans-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


:root {
  color-scheme: light;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-size: 18px;
  font-family: "open-sans-light", sans-serif;
  /*letter-spacing: 1px;*/
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

body {
  position: relative;
  background-color: #eee;
  color: #FFF; 
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     -webkit-border-radius: 0;
     border-radius: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #888;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}

#page {
  padding: 0;
  padding-top: 70px;
  margin: 0;
  /*min-height: 100%;*/
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 20px;*/
  box-shadow: 0px 1px 2px #aaa;
  background-color: #FFF;
}

div, ul, li, ol{
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: square;
  margin-left: 30px;
  margin-bottom: 20px;
}

p, form, img {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: "roboto", sans-serif;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

.toggle-collapsible {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;

}
a.toggle-collapsible:hover {
  color: #43C3D8;
}

.toggleContent {
  margin-left: 20px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

video {
  max-width: 100% !important;
  height: auto;
}

p:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
form:first-child,
img:first-child {
  margin-top: 0;
  padding-top: 0;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
form:last-child,
img:last-child {
  margin-bottom: 0;
}

p.secondary {
  color: rgba(36, 41, 46, 0.6);;
}

pre {
  margin: 0;
}

.hljs {
  padding: 10px !important;
  margin-bottom: 10px;
}

a {
  color: #3282E5;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #2682CC;
}

a:hover svg {
  fill: #2682CC !important;
}

img {
  max-width: 100%;
}

/* SECTIONS */

#media {
  position: relative;
  width: 100%;
  /*height: 56.25%;*/
  padding-top: 56.25%;
  /*background-color: #F00;*/
  background-image: url("/style/img/header.jpg");
  background-size: 100% 100%;
  background-position: 0 -1px;
  background-repeat: no-repeat;
  background-color: #3F3F3F;
}

#media video {
  position: absolute;
  /*float: left;
  height: 100%;*/
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: 100%; 
  height: 100%;
  /*max-height: 480px;
  max-width: 854px;*/
}

a.download-button:hover {
  color:  #FFF;
}
.download-button {

  border-top: 4px solid #BEFF00;
  border-right: 4px solid #BEFF00;
  border-bottom: 4px solid #688C00;
  border-left: 4px solid #688C00;

  background-color: #A1D900;

  text-align: center;
  line-height: auto;

  color: #476A01;
  padding: 15px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.download-button h2 {
  margin: 0;
}

.big-screen.download-button {

  position: absolute;
  bottom: 20px;

  left: 50%;
  transform: translateX(-50%);
}

.small-screen.download-button {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#media > img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 700px;
  width: 700px;
  height: 137px;
  margin-left: -350px;
  margin-top: -70px;
}

#cover {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("/style/img/header.jpg");
  background-position: center center;
  background-size: cover;
}

#page #cover a img {
  display: inline-block !important;
  max-width: 100%;
  width: 500px;
}

@media (max-width: 800px) {
  #media > img {
    max-width: 500px;
    width: 500px;
    height: 98px;
    margin-left: -250px;
    margin-top: -50px;
  }
}

@media (max-width: 600px) {
  #media > img {
    max-width: 400px;
    width: 400px;
    height: 78px;
    margin-left: -200px;
    margin-top: -40px;
  }
}

@media (max-width: 500px) {
  #media > img {
    max-width: 300px;
    width: 300px;
    height: 59px;
    margin-left: -150px;
    margin-top: -30px;
  }
}

@media (max-width: 400px) {
  #media > img {
    max-width: 250px;
    width: 250px;
    height: 49px;
    margin-left: -125px;
    margin-top: -25px;
  }
}

.big-screen {
  display: block;
}

.small-screen {
  display: none;
}

#next-user-info {
  display: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 500px) {

  .big-screen {
    display: none;
  }

  .small-screen {
    display: block;
  }

  #menu > a {
    float: none;
    width: 100%;
    text-align: center;
  }

  html {
    font-size: 16px;
  }

}

/* MENU */

#menu {
  position: fixed;
  width:100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f7f7;
  padding: 0;
  top: 0;
  height: 70px;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.3);
}

#menu > a {
  float:  left;
}

#menu img {
  height: 50px;
  width: auto;
  margin: 10px;
}

#menu nav {
  float: right;
  margin: 10px;
  line-height: 50px;
}

#menu nav ul li {
  display: inline-block;
  font-family: "roboto", sans-serif;
}

#menu nav ul li a {
  color: #222;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

#menu nav ul li a.download {
  padding-left: 44px;
  background-image: url("/style/img/floppy.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

#menu nav ul li a.question {
  padding-left: 44px;
  background-image: url("/style/img/wut.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

#menu nav ul li a:hover {
  color: #2682CC;
}

#menu nav ul li:first-child a{
  margin-left: 0;
}

#menu ul {
  margin-left: 0;
  margin-bottom: 0;
}

/*#menu nav ul li:first-child {
  padding-left: 20px;
}*/


/* CONTENT */

#content {
  position: relative;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #FFF;
}

.collapsible.hidden {
  display: none;
}

.collapsible.shown {
  display: block;
}

.home {
  padding-left: 44px;
  background-image: url("/style/img/home@2x.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

.question {
  padding-left: 44px;
  background-image: url("/style/img/question@2x.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

.download {
  padding-left: 44px;
  background-image: url("/style/img/floppy.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

.rainbow {
  padding-left: 44px;
  background-image: url("/style/img/rainbow.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

.glitter {
  padding-left: 44px;
  background-image: url("/style/img/glitter@2x.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

.privacy {
  padding-left: 44px;
  background-image: url("/style/img/geek.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

.talk {
  padding-left: 44px;
  background-image: url("/style/img/textbubble.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

.heart {
  padding-left: 44px;
  background-image: url("/style/img/heart.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

.news {
  padding-left: 44px;
  background-image: url("/style/img/news.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

.error {
  padding-left: 44px;
  background-image: url("/style/img/error@2x.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

#content .play h2 {
  padding-left: 44px;
  background-image: url("/style/img/joypad.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

#content .build h2 {
  padding-left: 44px;
  background-image: url("/style/img/crane.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

#content .code h2 {
  padding-left: 44px;
  background-image: url("/style/img/geek.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 33px 33px;
  line-height: 33px;
  image-rendering: pixelated;
}

#content img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content #what {
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*padding: 20px;*/
  color: #000;
  /*background-color: #555;*/
}

#features {
  /*margin: 20px;*/
  margin-top: 20px;
}

#content .columns_x2 {
  position: relative;
  border-collapse: separate;
}

#content .columns_x2 .column {
  float: left;
  width:  47.5%;
  margin-right: 5%;
}

#content .columns_x2 .column:last-child {
  margin-right: 0;
}

#content .columns_x3 {
  position: relative;
  border-collapse: separate;
}

#content .columns_x3 .column {
  float: left;
  width:  30%;
  margin-right: 5%;
}

#content .columns_x3 .column:last-child {
  margin-right: 0;
}

#content .early-access {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
  max-width: 600px;
}

#content ul.features {
  display: table;
  width: 100%;
  border-spacing: 0.8rem;
  border-collapse: separate;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  margin-top: -0.8rem;
  margin-bottom: -0.8rem;
}

#content li.feature {
  display: table-cell;
  padding: 0.8rem;
  background-color: #AAA;
  color: #222;
}

#content li.feature h2 {
  line-height: 46px;
}


.play {
  background-color: rgba(0, 196, 144, 0.2) !important;
  border: solid 1px rgba(0, 196, 144, 1.0);
}

.build {
  background-color: rgba(217, 158, 0, 0.2) !important;
  border: solid 1px rgba(217, 158, 0, 1.0);
}

.code {
  background-color: #00A1A9 !important;
  background-color: rgba(0, 161, 169, 0.2) !important;
  border: solid 1px rgba(0, 161, 169, 1.0);
}

.highlight {
  color: #4DEF49;
}

.topSpace {
  margin-top: 20px !important;
}

.large-display-only {
  display: block;
}

@media (max-width: 800px) {

  #content li.feature {
    display: block;
    margin-bottom: 20px;
  }

  #content li.feature:last-child { margin-bottom: 0; }

  .large-display-only { display: none !important; }
}

#social {
  width: 100%;
  background-color: #f7f7f7;
  padding: 0;
}

#social ul {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

#social ul li {
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

#social ul li:first-child {
  margin-left: 0;
}

#social ul li img {
  height: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#social ul li svg {
  height: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  fill: #555;
}

#footer {
  text-align: center;
  /*background-color: #eee;*/
  padding: 20px;
  color: #555;
}

#footer a {
  color: #999;
}

#footer a:hover {
  color: #2682CC;
}

#footer p {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}
