
@font-face {
    font-family: 'monogram';
    src: url('/style/fonts/monogram_extended-webfont.woff2') format('woff2'),
         url('/style/fonts/monogram_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 32px;
  line-height: 24px;
  font-family: "monogram", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #555;
}

body {
  position: relative;
  background-color: #222;
  color: #FFF; 
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}

#page {
  padding: 0;
  margin: 0;
  min-height: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

div, ul, li, ol{
  padding: 0;
  margin: 0;
}

ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

ul ul {
  list-style-type: disc;
}

p, form, img {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

video {
  max-width: 100% !important;
  height: auto;
}

p:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
form:first-child,
img:first-child {
  margin-top: 0;
  padding-top: 0;
}

p:last-child,form:last-child, img:last-child {
  margin-bottom: 0;
}

p.secondary {
  color: rgba(36, 41, 46, 0.6);;
}

pre {
  margin: 0;
}

.hljs {
  padding: 10px !important;
  margin-bottom: 10px;
}

form input {
  font-family: "monogram", sans-serif;
  font-size: 32px;
  padding: 0;
  margin: 0;
}

a {
  color: #3282E5;
  text-decoration: none;
}

a:hover {
  color: #2682CC;
}

a:hover svg {
  fill: #2682CC !important;
}

img {
  max-width: 100%;
}

/* SECTIONS */

#media {
  position: relative;
  width: 100%;
  /*height: 56.25%;*/
  padding-top: 56.25%;
  background-color: #F00;
}

#media img {
  position: absolute;
  max-width: 500px;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 98;
  margin-left: -250px;
  margin-top: -49;
}

.over-media {
  position: absolute;
  width: 100%;
  /*left: 50%;*/
  bottom: 10%;
}

#early-access .subscribe {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    background-color: #555;
}

.subscribe form {
  display: table;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.subscribe form input {
  display: table-cell;
  border-radius: 0px;
}

.space-cell {
    display: table-cell;
    width: 20px;
}

.subscribe form input[type="text"] {
    padding: 15px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.6);
    border: 4px solid rgba(0, 0, 0, 0.6);
    outline: none;
    width: 250px;
}

.subscribe form input[type="submit"] {
    border-top: 4px solid #BEFF00;
    border-right: 4px solid #BEFF00;
    border-bottom: 4px solid #688C00;
    border-left: 4px solid #688C00;
    background-color: #A1D900;
    color: #476A01;
    padding: 15px;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.3);
}

.subscribe form input[type="submit"]:hover {
    border-top: 4px solid #BEFF00;
    border-right: 4px solid #BEFF00;
    border-bottom: 4px solid #7BA600;
    border-left: 4px solid #7BA600;
    background-color: #B4F200;
    cursor: pointer;
    color: #5A8600;
}

@media (max-width: 500px) {
  
  #media img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 59px;
    margin-left: -150px;
    margin-top: -30px;
  }

  #media .subscribe form {
    display: none;
  }

  .subscribe form input {
    display: table-row;
    border-radius: 0px;
  }

  .space-cell {
    display: block;
    width: 20px;
  }

  .subscribe form input[type="text"] {

  }

  .subscribe form input[type="submit"] {
      margin-top: 10px;
      margin-left: 0;
  }

}

#content {
  position: relative;
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3F3F3F;
}

#content h2 {
  font-size: 48px;
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
}

#content h3 {
  font-size: 48px; 
  line-height: 38px;
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
}

#content .play h3 {
  padding-left: 60px;
  background-image: url("/style/img/players-icon@2x.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 46px 38px;
}

#content .build h3 {
  padding-left: 60px;
  background-image: url("/style/img/builders-icon@2x.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 46px 38px;
}

#content .code h3 {
  padding-left: 60px;
  background-image: url("/style/img/coders-icon@2x.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 46px 38px;
}

#content img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content #what {
  margin: 20px;
  margin-top: 0px;
  padding: 20px;
  background-color: #555;
}

#content #features {
  /*margin: 20px;*/
}

#content #early-access {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
  max-width: 600px;
}

#content ul.features {
  display: table;
  width: 100%;
  border-spacing: 20px;
  border-collapse: separate;
  margin: 0;
  padding: 0;
  margin-top: -20px;
  table-layout: fixed;
}

#content li.feature {
  display: table-cell;
  padding: 20px;
  background-color: #AAA;
  color: #FFF;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.3);
}

.play {
  background-color: #00C490 !important;
}

.build {
  background-color: #D99E00 !important;
}

.code {
  background-color: #00A1A9 !important;
}

.large-display-only {
  display: block;
}

@media (max-width: 800px) {
  
  #content li.feature {
    display: block;
    margin-bottom: 20px;
  }

  #content li.feature:last-child { margin-bottom: 0; }

  .large-display-only { display: none !important; }
}

#social {
  width: 100%;
  background-color: #333;
  padding: 0;
  color: #FFF;
}

#social ul {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

#social ul li {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

#social ul li:first-child {
  margin-left: 0;
}

#social ul li img {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#social ul li svg {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  fill: #FFFFFF;
}

#footer {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: #555;
}

#footer a {
  color: #999;
}

#footer a:hover {
  color: #2682CC;
}

#footer p {
  margin: 0;
  padding: 0;
}


.clear {
  clear: both;
}
