<html>
	{{ template "head" }}
	<body>
		<div id="page">

			<div id="simple-title-header">
				<a href="/"><img src="/style/img/title.png"></a>
			</div>

			<div id="content">
				
				<div id="what">
					<h2 class="glitter">{{ .header }}</h2>
					
					{{ if .email }}
					<p>Please check your e-mail <em class="highlight">{{ .email }}</em> to confirm your account.</p>
					{{ end }}
				</div>

			</div> <!-- {{ .content }} -->

			{{ template "social" }}

			{{ template "footer" }}

		</div> <!-- page -->
    </body>
</html>