<html>
	<head>
		<title>{{ .title }}</title>
		{{ if .metaKeywords }}<meta name="keywords" content="{{ .metaKeywords }}">{{ end }}
		{{ if .metaDescription }}<meta name="description" content="{{ .metaDescription }}">{{ end }}

		<!-- CSS -->
  		<link rel="stylesheet" href="/style/css/style.css">
  		<link rel="stylesheet" href="/style/highlight/atom-one-dark.css">

  		 <!-- Mobile Specific Metas -->
  		<meta name="viewport" content="width=device-width, initial-scale=1">

  		<!-- FAVICON -->
		<link rel="icon" type="image/png" href="/style/img/favicon.png">

		<!-- JS -->
		<script src="/js/highlight.pack.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', (event) => {
				document.querySelectorAll('pre').forEach((block) => {
					hljs.highlightBlock(block);
				});
			});
		</script>
		
	</head>
	<body>

		<div id="page">

			<div id="header">
				<nav id="header-content">
					<ul>
						<li><img src="/style/img/logo.png" alt="" srcset="/style/img/logo@2x.png 2x"></li>
						<li><a href="/">Particubes</a></li>
						<li><a href="https://docs.particubes.com">Scripting Docs</a></li>
					</ul>
				</nav>
			</div>
		    
			<div id="container-wrapper">
				<div id="container">
					<div id="content">
						{{ .content }}
					</div>
				</div>
			</div>

			<div id="footer">
				<ul>
					<li><a href="https://twitter.com/particubes">Twitter</a></li><!--
					--><li><a href="https://www.instagram.com/particubes/">Instagram</a></li><!--
					--><li><a href="https://discord.gg/NbpdAkv">Discord</a></li>
				</ul>
			</div>

		</div> <!-- page -->
    </body>
</html>