<html>
	<head>
		<title>{{ .title }}</title>
		{{ if .metaKeywords }}<meta name="keywords" content="{{ .metaKeywords }}">{{ end }}
		{{ if .metaDescription }}<meta name="description" content="{{ .metaDescription }}">{{ end }}

		<!-- CSS -->
  		<link rel="stylesheet" href="/style/css/style.css">
  		<link rel="stylesheet" href="/style/highlight/atom-one-dark.css">

  		 <!-- Mobile Specific Metas -->
  		<meta name="viewport" content="width=device-width, initial-scale=1">

  		<!-- FAVICON -->
		<link rel="icon" type="image/png" href="/style/img/favicon.png">

		<!-- JS -->
		<script src="/js/highlight.pack.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', (event) => {
				document.querySelectorAll('pre').forEach((block) => {
					hljs.highlightBlock(block);
				});
			});
		</script>
		
	</head>
	<body>
		<div id="page">
			<div id="content">
				<div id="what">
					<h1>E-mail address confirmed.</h1>
					<p>Thanks for confirming your e-mail address.</p>
					<p>Your Particubes account is now created.</p>
				</div>
				<div id="social">
					<ul>
						<li>Follow us</a></li><!--
						--><li><a href="https://twitter.com/particubes">Twitter</a></li><!--
						--><li><a href="https://www.instagram.com/particubes/">Instagram</a></li><!--
						--><li><a href="https://discord.gg/NbpdAkv">Discord</a></li>
					</ul>
				</div>
				<div id="footer">

					<div id="voxowl-logo">
					</div>

					<div id="footer-links">
						<p><a href="https://twitter.com/particubes">Privacy</a> - <a href="https://www.instagram.com/particubes/">Contact</a> - <a href="https://discord.gg/NbpdAkv">Press</a></p>
					</div>

					<div id="copyright">
						<p>©2020 VOXOWL INC. ALL RIGHTS RESERVED.</p>
					</div>
				</div>
			</div>
		</div> <!-- page -->
    </body>
</html>