<html>
	{{ template "head" . }}
	<body>
		<div id="page">

			<div id="simple-title-header">
				<a href="/"><img src="/style/img/title.png"></a>
			</div>

			{{ template "menu" . }}

			<div id="content">
				
				<div id="what">
					<h2 class="glitter">Email address confirmed!</h2>
						
					<p>Congrats! You are one step closer to enjoying Particubes.</p>

					<p>We'll contact you as soon as we're ready to distribute the app. Don't worry if you don't receive much emails from us until then, we don't want to spam people if there's nothing important to share.</p>

					<p>In the meantime, if you want to chat, you can join our Discord server: <a href="https://particubes.com/discord">particubes.com/discord</a></p>
				</div>

			</div> <!-- {{ .content }} -->

			{{ template "social" }}

			{{ template "footer" }}

		</div> <!-- page -->
    </body>
</html>

