<html>
	<head>
		<title>{{ .title }}</title>
		{{ if .metaKeywords }}<meta name="keywords" content="{{ .metaKeywords }}">{{ end }}
		{{ if .metaDescription }}<meta name="description" content="{{ .metaDescription }}">{{ end }}

		<!-- CSS -->
  		<link rel="stylesheet" href="/style/css/style.css">
  		<link rel="stylesheet" href="/style/highlight/atom-one-dark.css">

  		 <!-- Mobile Specific Metas -->
  		<meta name="viewport" content="width=device-width, initial-scale=1">

  		<!-- FAVICON -->
		<link rel="icon" type="image/png" href="/style/img/favicon.png">

		<!-- JS -->
		<script src="/js/highlight.pack.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', (event) => {
				document.querySelectorAll('pre').forEach((block) => {
					hljs.highlightBlock(block);
				});
			});
		</script>
	</head>
	<body>
		<div id="page">

			<div id="simple-title-header">
				<a href="/"><img src="/style/img/title.png"></a>
			</div>

			<div id="content">

				<div id="what">
					<h2 class="error">{{ .header }}</h2>

					{{ if .error }}
					<p>{{ .error }}</p>
					{{ end }}
				</div>

				{{ if .email }}
				<div class="early-access topSpace">
					<div class="subscribe">
						<p>First <span class="highlight">1000</span> registered users will get  unlimited premium access for free!<br />Sign up now! (you'll be <span class="highlight">#{{ .nextTester }}</span>)</p>
						{{ template "form" . }}
					</div>
				</div>
				{{ end }}

			</div> <!-- {{ .content }} -->

			{{ template "social" }}

			{{ template "footer" }}

		</div> <!-- page -->
    </body>
</html>