<html>
	{{ template "head" . }}
	<body>
		<div id="page">

			<div id="simple-title-header">
				<!-- <a href="/"><img src="/style/img/title.png"></a> -->
			</div>

			<div id="content">

				<div id="what">
					<h2 class="error">{{ .header }}</h2>

					{{ if .error }}
					<p>{{ .error }}</p>
					{{ end }}
				</div>

				{{ if .email }}
				<div class="early-access topSpace">
					<div class="subscribe">
						<p>Sign up now! You'll be <span class="highlight">#{{ .nextTester }}</span>, and you'll certainly get to pick a cool nickname!</p>
						{{ template "form" . }}
					</div>
				</div>
				{{ end }}

			</div> <!-- {{ .content }} -->

			{{ template "social" }}

			{{ template "menu" . }}

		</div> <!-- page -->

		{{ template "footer" }}

    </body>
</html>