{{define "footer"}}
<div id="footer">

	<div id="voxowl-logo">

	</div>

	<div id="footer-links">
		<p><a href="/privacy-policy">Privacy</a> - <a href="/contact">Contact</a> - <a href="/press">Press</a></p>
	</div>

	<div id="copyright">
		<p>©2020 VOXOWL INC. ALL RIGHTS RESERVED.</p>
	</div>

</div>
{{end}}