{{define "form"}}
<form action="/beta/form" method="post">
	<input type="text" name="email" placeholder="email" value="{{ .email }}">
	<input type="submit" name="" value="Beta sign-up">
	<div class="clear"></div>
</form>
{{end}}