{{define "form"}}
<form action="/beta/form" method="post">
	<input type="text" name="email" placeholder="email" value="{{ .email }}">
	<input type="submit" name="" value="Beta sign-up">
	<div class="clear"></div>
	<p id="next-user-info">You'll be <span class="highlight">#{{ .nextTester }}</span></p>
</form>
{{end}}