{{define "head"}}
<head>
	<title>{{ .headTitle }}</title>
	{{ if .metaKeywords }}<meta name="keywords" content="{{ .metaKeywords }}">{{ end }}
	{{ if .metaDescription }}<meta name="description" content="{{ .metaDescription }}">{{ end }}

	<!-- CSS -->
		<link rel="stylesheet" href="/style/css/style.css">
		<link rel="stylesheet" href="/style/highlight/atom-one-dark.css">

		 <!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- color scheme (enforce light) -->
		<meta name="color-scheme" content="light">

		<!-- FAVICON -->
		<link rel="apple-touch-icon" sizes="180x180" href="/style/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/style/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/style/img/favicon-16x16.png">
		<link rel="manifest" href="/style/img/site.webmanifest">

	<!-- JS -->
	<script src="/js/highlight.pack.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
			document.querySelectorAll('pre').forEach((block) => {
				hljs.highlightBlock(block);
			});
		});

		window.onload = function() {
			var anchors = document.getElementsByTagName('a');
			for(var i = 0; i < anchors.length; i++) {
					var anchor = anchors[i];
					if (anchor.classList.contains("toggle-collapsible")) {

						anchor.onclick = function() {
						 	
							var collapsible = this.nextElementSibling;

							if (collapsible.classList.contains("hidden")) {
								collapsible.classList.remove("hidden")
								collapsible.classList.add("shown")
							} else {
								collapsible.classList.remove("shown")
								collapsible.classList.add("hidden")
							}

							return false;
					}
				}
			}
		}
	</script>
</head>
{{end}}
