<html>
	{{ template "head" . }}
	<body>
		<div id="page">

			<div id="media">

				<video muted autoplay loop playsinline>
					<source src="/video/particubes-teaser-website-854x480.mp4" type="video/mp4">
				</video>

				<img src="/style/img/title.png" />

				<div class="subscribe-over-media">
					{{ template "form" . }}
				</div>

				<div class="clear"></div>
			</div>

			{{ template "menu" . }}

			<div id="content">
				<!-- Embedding generated content here for youtube iframe not to be removed. We certainly need to change the config of our markdown to HTML generator to support this. -->

				<div class="early-access small-screen">
					<div class="subscribe">
						{{ template "form" . }}
					</div>
				</div>
				
				<div id="what">
					<h2 class="glitter">What is Particubes?</h2>
					
					<p>Particubes is a place to hang out, play, build and share multiplayer experiences in which everything is made out of cubes. (items, avatars, worlds, vehicles...)</p>

					<p>The app runs on iOS, Android, Windows, Mac and Linux devices.</p>
				</div>

				<div id="features">
					<ul class="features">
						<li class="feature play">
							<h2>Players</h2>
							<p>Explore many different games and experiences all built by the community, using your own custom avatar. Play with your friends, on mobile and desktop devices.</p>
						</li>

						<li class="feature build">
							<h2>Builders</h2>
							<p>Use simple yet powerful tools to craft and publish game items, worlds, avatars & outfits. Shared assets can be used by other builders and coders, and you get rewarded when they do.</p>
						</li>

						<li class="feature code">
							<h2>Coders</h2>
							<p>Customize game code sample scripts, publish assignable actions, or script a full game from scratch! Show it to your friends, all they need to join the game is your invite link.</p>
						</li>
					</ul>
				</div>

				<div class="early-access">
					<div class="subscribe">
						<p>Sign up now! You'll be <span class="highlight">#{{ .nextTester }}</span>, and you'll certainly get to pick a cool nickname!</p>
						{{ template "form" . }}
					</div>
				</div>
				
			</div> <!-- {{ .content }} -->

			{{ template "social" }}

			{{ template "footer" }}

		</div> <!-- page -->
    </body>
</html>