<html>
	{{ template "head" . }}
	<body>
		<div id="page">

			<div id="media">

				<video muted autoplay loop playsinline>
					<source src="/video/particubes-teaser-website-854x480.mp4" type="video/mp4">
				</video>

				<a class="big-screen download-button" href="/download"><h2>Join the Alpha!</h2><p>iPhone/iPad, Android, Windows & Mac</p></a>
			</div>


			<div id="content">
				
				<div id="what">
					<h2 class="rainbow">{{ .introTitle }}</h2>
					
					{{ range .introBlocks }}

						{{ if eq .Type "text"}}
							<p>
							{{ range .TextSpans }}
								<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
							{{ end }}
							</p>

						{{ else if eq .Type "header"}}

							<h{{ .HeaderLevel }}>
							{{ range .TextSpans }}
								<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
							{{ end }}
							</h{{ .HeaderLevel }}>

						{{ else if eq .Type "image"}}

							{{ if .Image.Link }}<a href="{{ .Image.Link }}">{{ end }}
								<img alt="{{ .Image.Alt }}" src="{{ .Image.Path }}"/>
							{{ if .Image.Link }}</a>{{ end }}

						{{ else if eq .Type "bulleted_list"}}

							<li>
							{{ range .TextSpans }}
								<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
							{{ end }}
							</li>

						{{ else if eq .Type "column_list"}}

							<div class="columns_x3">
							{{ range .Blocks }} <!-- loop over columns -->

								{{ if eq .Type "column"}}

									<div class="column">
									{{ range .Blocks }} <!-- loop over blocks in each columns -->

										{{ if eq .Type "text"}}
											<p>
											{{ range .TextSpans }}
												<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
											{{ end }}
											</p>

										{{ else if eq .Type "header"}}
											<h{{ .HeaderLevel }}>
											{{ range .TextSpans }}
												<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
											{{ end }}
											</h{{ .HeaderLevel }}>

										{{ else if eq .Type "image"}}

											{{ if .Image.Link }}<a href="{{ .Image.Link }}">{{ end }}
												<img alt="{{ .Image.Alt }}" src="{{ .Image.Path }}"/>
											{{ if .Image.Link }}</a>{{ end }}
										{{ end }}

									{{ end }}
									</div>

								{{ end }}

							{{ end }}
							</div>
							<div class="clear"></div>

						{{ else }}

							<!-- UNKNOWN BLOCK TYPE -->

						{{ end}}

					{{ end }} <!-- end range .Blocks -->

					<a class="small-screen download-button" href="/download"><h2>Join the Alpha!</h2><p>iPhone/iPad, Android, Windows & Mac</p></a>
				</div>

				<div id="features">
					<ul class="features">
						<li class="feature play">
							<h2>{{ .exploreTitle }}</h2>
							{{ range .exploreBlocks }}

								{{ if eq .Type "text"}}
									<p>
									{{ range .TextSpans }}
										<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
									{{ end }}
									</p>

								{{ else if eq .Type "header"}}

									<h{{ .HeaderLevel }}>
									{{ range .TextSpans }}
										<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
									{{ end }}
									</h{{ .HeaderLevel }}>

								{{ else if eq .Type "image"}}

									{{ if .Image.Link }}<a href="{{ .Image.Link }}">{{ end }}
										<img alt="{{ .Image.Alt }}" src="{{ .Image.Path }}"/>
									{{ if .Image.Link }}</a>{{ end }}

								{{ else if eq .Type "bulleted_list"}}

									<li>
									{{ range .TextSpans }}
										<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
									{{ end }}
									</li>

								{{ else if eq .Type "column_list"}}

									<div class="columns_x3">
									{{ range .Blocks }} <!-- loop over columns -->

										{{ if eq .Type "column"}}

											<div class="column">
											{{ range .Blocks }} <!-- loop over blocks in each columns -->

												{{ if eq .Type "text"}}
													<p>
													{{ range .TextSpans }}
														<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
													{{ end }}
													</p>

												{{ else if eq .Type "header"}}
													<h{{ .HeaderLevel }}>
													{{ range .TextSpans }}
														<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
													{{ end }}
													</h{{ .HeaderLevel }}>

												{{ else if eq .Type "image"}}

													{{ if .Image.Link }}<a href="{{ .Image.Link }}">{{ end }}
														<img alt="{{ .Image.Alt }}" src="{{ .Image.Path }}"/>
													{{ if .Image.Link }}</a>{{ end }}
												{{ end }}

											{{ end }}
											</div>

										{{ end }}

									{{ end }}
									</div>
									<div class="clear"></div>

								{{ else }}

									<!-- UNKNOWN BLOCK TYPE -->

								{{ end}}

							{{ end }} <!-- end range .Blocks -->
						</li>

						<li class="feature build">
							<h2>{{ .buildTitle }}</h2>
							{{ range .buildBlocks }}

								{{ if eq .Type "text"}}
									<p>
									{{ range .TextSpans }}
										<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
									{{ end }}
									</p>

								{{ else if eq .Type "header"}}

									<h{{ .HeaderLevel }}>
									{{ range .TextSpans }}
										<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
									{{ end }}
									</h{{ .HeaderLevel }}>

								{{ else if eq .Type "image"}}

									{{ if .Image.Link }}<a href="{{ .Image.Link }}">{{ end }}
										<img alt="{{ .Image.Alt }}" src="{{ .Image.Path }}"/>
									{{ if .Image.Link }}</a>{{ end }}

								{{ else if eq .Type "bulleted_list"}}

									<li>
									{{ range .TextSpans }}
										<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
									{{ end }}
									</li>

								{{ else if eq .Type "column_list"}}

									<div class="columns_x3">
									{{ range .Blocks }} <!-- loop over columns -->

										{{ if eq .Type "column"}}

											<div class="column">
											{{ range .Blocks }} <!-- loop over blocks in each columns -->

												{{ if eq .Type "text"}}
													<p>
													{{ range .TextSpans }}
														<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
													{{ end }}
													</p>

												{{ else if eq .Type "header"}}
													<h{{ .HeaderLevel }}>
													{{ range .TextSpans }}
														<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
													{{ end }}
													</h{{ .HeaderLevel }}>

												{{ else if eq .Type "image"}}

													{{ if .Image.Link }}<a href="{{ .Image.Link }}">{{ end }}
														<img alt="{{ .Image.Alt }}" src="{{ .Image.Path }}"/>
													{{ if .Image.Link }}</a>{{ end }}
												{{ end }}

											{{ end }}
											</div>

										{{ end }}

									{{ end }}
									</div>
									<div class="clear"></div>

								{{ else }}

									<!-- UNKNOWN BLOCK TYPE -->

								{{ end}}

							{{ end }} <!-- end range .Blocks -->
						</li>

						<li class="feature code">
							<h2>{{ .codeTitle }}</h2>
							{{ range .codeBlocks }}

								{{ if eq .Type "text"}}
									<p>
									{{ range .TextSpans }}
										<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
									{{ end }}
									</p>

								{{ else if eq .Type "header"}}

									<h{{ .HeaderLevel }}>
									{{ range .TextSpans }}
										<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
									{{ end }}
									</h{{ .HeaderLevel }}>

								{{ else if eq .Type "image"}}

									{{ if .Image.Link }}<a href="{{ .Image.Link }}">{{ end }}
										<img alt="{{ .Image.Alt }}" src="{{ .Image.Path }}"/>
									{{ if .Image.Link }}</a>{{ end }}

								{{ else if eq .Type "bulleted_list"}}

									<li>
									{{ range .TextSpans }}
										<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
									{{ end }}
									</li>

								{{ else if eq .Type "column_list"}}

									<div class="columns_x3">
									{{ range .Blocks }} <!-- loop over columns -->

										{{ if eq .Type "column"}}

											<div class="column">
											{{ range .Blocks }} <!-- loop over blocks in each columns -->

												{{ if eq .Type "text"}}
													<p>
													{{ range .TextSpans }}
														<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
													{{ end }}
													</p>

												{{ else if eq .Type "header"}}
													<h{{ .HeaderLevel }}>
													{{ range .TextSpans }}
														<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
													{{ end }}
													</h{{ .HeaderLevel }}>

												{{ else if eq .Type "image"}}

													{{ if .Image.Link }}<a href="{{ .Image.Link }}">{{ end }}
														<img alt="{{ .Image.Alt }}" src="{{ .Image.Path }}"/>
													{{ if .Image.Link }}</a>{{ end }}
												{{ end }}

											{{ end }}
											</div>

										{{ end }}

									{{ end }}
									</div>
									<div class="clear"></div>

								{{ else }}

									<!-- UNKNOWN BLOCK TYPE -->

								{{ end}}

							{{ end }} <!-- end range .Blocks -->
						</li>
					</ul>
				</div>
				
			</div> <!-- {{ .content }} -->

			{{ template "social" }}

			{{ template "menu" . }}

		</div> <!-- page -->

		{{ template "footer" }}


    </body>
</html>