<html>
	{{ template "head" . }}
	<body>
		<div id="page">

			<div id="cover" style="background-image: url('{{ if .cover }}{{ .cover }}{{ else }}/style/img/header.jpg{{ end }}');">
			</div>

			<div id="content">

				<div id="what">
					<h1 class="{{ .titleIcon }}">{{ .title }}</h1>

					{{ if .page }}
						{{ if .page.Blocks }}
							{{ range .page.Blocks }}

								{{ if eq .Type "text"}}
									<p>
									{{ range .TextSpans }}

										{{ if .Link }}
											<a href="{{ .Link }}" style="{{ if .Bold }}font-weight: bold;{{ end }}{{ if .Italic }}font-style: italic;{{ end }}">{{ .Text }}</a>
										{{ else }}
											<span style="{{ if .Bold }}font-weight: bold;{{ end }}{{ if .Italic }}font-style: italic;{{ end }}">{{ .Text }}</span>
										{{ end }}
									{{ end }}
									</p>

								{{ else if eq .Type "header"}}

									<h{{ .HeaderLevel }}>
									{{ range .TextSpans }}
										<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
									{{ end }}
									</h{{ .HeaderLevel }}>

								{{ else if eq .Type "image"}}

									{{ if .Image.Link }}<a href="{{ .Image.Link }}">{{ end }}
										<img alt="{{ .Image.Alt }}" src="{{ .Image.Path }}"/>
									{{ if .Image.Link }}</a>{{ end }}

								{{ else if eq .Type "bulleted_list"}}

									<li>
									{{ range .TextSpans }}
										<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
									{{ end }}
									</li>

								{{ else if eq .Type "column_list"}}

									<div class="columns_x{{ len .Blocks }}">
									{{ range .Blocks }} <!-- loop over columns -->

										{{ if eq .Type "column"}}

											<div class="column">
											{{ range .Blocks }} <!-- loop over blocks in each columns -->

												{{ if eq .Type "text"}}
													<p>
													{{ range .TextSpans }}
														{{ if .Link }}
															<a href="{{ .Link }}" style="{{ if .Bold }}font-weight: bold;{{ end }}{{ if .Italic }}font-style: italic;{{ end }}">{{ .Text }}</a>
														{{ else }}
															<span style="{{ if .Bold }}font-weight: bold;{{ end }}{{ if .Italic }}font-style: italic;{{ end }}">{{ .Text }}</span>
														{{ end }}
													{{ end }}
													</p>

												{{ else if eq .Type "header"}}
													<h{{ .HeaderLevel }}>
													{{ range .TextSpans }}
														<span style="{{ if .Bold }}font-weight: bold;{{ end }}">{{ .Text }}</span>
													{{ end }}
													</h{{ .HeaderLevel }}>

												{{ else if eq .Type "image"}}

													{{ if .Image.Link }}<a href="{{ .Image.Link }}">{{ end }}
														<img alt="{{ .Image.Alt }}" src="{{ .Image.Path }}"/>
													{{ if .Image.Link }}</a>{{ end }}
												{{ end }}

											{{ end }}
											</div>

										{{ end }}

									{{ end }}
									</div>
									<div class="clear"></div>

								{{ else }}

									<p>UNKNOWN BLOCK TYPE</p>

								{{ end}}

							{{ end }} <!-- end range .Blocks -->
						{{ end }} <!-- end if .Blocks -->
					{{ end }} <!-- end .page -->

				</div>

			</div> <!-- {{ .content }} -->

			{{ template "social" }}

			{{ template "menu" . }}

		</div> <!-- page -->

		{{ template "footer" }}
		
    </body>
</html>