<html>
	<head>
		<title>Particubes - Scripting Documentation</title>
		{{ if .Keywords }}<meta name="keywords" content='{{ Join .Keywords ", " }}'>{{ end }}
		{{ if .Description }}<meta name="description" content="{{ .Description }}">{{ end }}

		<!-- CSS -->
  		<link rel="stylesheet" href="/style/css/style.css">
  		<link rel="stylesheet" href="/style/highlight/atom-one-dark.css">

  		 <!-- Mobile Specific Metas -->
  		<meta name="viewport" content="width=device-width, initial-scale=1">

  		<!-- FAVICON -->
		<link rel="apple-touch-icon" sizes="180x180" href="/style/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/style/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/style/img/favicon-16x16.png">
		<link rel="manifest" href="/style/img/site.webmanifest">
		
		<!-- JS -->
		<script src="/js/highlight.pack.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', (event) => {
				document.querySelectorAll('pre').forEach((block) => {
					hljs.highlightBlock(block);
				});
			});
		</script>
	</head>
	<body>
	    
		<div id="container">
			<div id="header">
				<table>
					<tr>
						<td class="icon">
							<a href="/"><img src="/style/img/icon.png" srcset="/style/img/icon@2x.png 2x" /></a>
						</td>
						<td>
							<h1><a href="/">Particubes</a></h1>
							<p>Scripting Documentation</p>
						</td>
					</tr>
				</table>
			</div>

			<div id="menu">
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/reference">Reference</a></li>
						<li><a href="https://github.com/voxowl/particubes/edit/master/lua-docs/content{{ .ResourcePath }}">✏️ Edit this page</a></li>
					</ul>
				</nav>
			</div>

			<div id="content">
				{{ $type := .Type }}

				<h1>{{ GetTitle . }}</h1>

				{{ if .Blocks }}
					{{ range .Blocks }}
						{{ if .Text }}
							<p>{{ .Text }}</p>
						{{ else if .Title }}
							<h2><a id="{{ GetAnchorLink .Title }}" href="#{{ GetAnchorLink .Title }}">{{ .Title }}</a></h2>
						{{ else if .Media }}
							<img src="{{ .Media }}"/>
						{{ else if .Code }}
							<pre>{{ .Code }}</pre>
						{{ else if .List }}
							<ul>
							{{ range .List }}
								<li>{{ . }}</li>
							{{ end }}
							</ul>
						{{ end }}
					{{ end }}
				{{ else if .Description }}
					<p>{{ .Description }}</p>
				{{ end }}

				{{ if .Constructors }}
				<h2><a id="constructors" href="#constructors">Constructors</a></h2>
					{{ range $i, $constructor := .Constructors }}
						<a id="constructor-{{ $i }}"></a>
						<div class="object-element-tbl">
							<div class="object-element-header">
								<a href="#constructor-{{ $i }}"><span class="name">{{ $type }}</span></a> ( <!--
								-->{{ range $index, $element := .Arguments }}<!--
								-->{{if $index}}, {{end}}<!--
								--><span class="type">{{ .Type }}</span> {{ .Name }}<!--
								-->{{ end }} )
							</div>
							<div class="object-element-row">
								{{ if .Description }}
									<p>{{ .Description }}</p>
								{{ end }}
								{{ range .Samples }}
									{{ if SampleHasCodeAndMedia . }}
										<div>
											<div class="floatLeft60Pct">
												<pre>{{ .Code }}</pre>
											</div>
											<div class="floatLeft40Pct">
												<video style="width:100%;" autoplay loop>
												  <source src="{{ .Media }}" type="video/mp4" />
												Your browser does not support the video tag.
												</video>
											</div>
											<div class="clear"></div>
										</div>
									{{ else if .Code }}
										<pre>{{ .Code }}</pre>
									{{ end }}
								{{ end }}
							</div>
						</div>
					{{ end }}
				{{ end }}

				{{ if .Functions }}
				<h2><a id="functions" href="#functions">Functions</a></h2>
					{{ range $index, $function := .Functions }}
						<a id="functions-{{ GetAnchorLink .Name }}"></a>
						<div class="object-element-tbl">
							<div class="object-element-header">
								<span class="type">{{ if .Return }}{{ .Return }}{{ else }}nil{{ end }}</span> <a href="#functions-{{ GetAnchorLink .Name }}"><span class="name">{{ .Name }}</span></a> ( <!--
								-->{{ range $index, $element := .Arguments }}<!--
								-->{{if $index}}, {{end}}<!--
								--><span class="type">{{ .Type }}</span> {{ .Name }}<!--
								-->{{ end }} )
							</div>
							<div class="object-element-row">
								{{ if .Description }}
									<p>{{ .Description }}</p>
								{{ end }}
								{{ range .Samples }}
									{{ if SampleHasCodeAndMedia . }}
										<div>
											<div class="floatLeft60Pct">
												<pre>{{ .Code }}</pre>
											</div>
											<div class="floatLeft40Pct">
												<video style="width:100%;" autoplay loop>
												  <source src="{{ .Media }}" type="video/mp4" />
												Your browser does not support the video tag.
												</video>
											</div>
											<div class="clear"></div>
										</div>
									{{ else if .Code }}
										<pre>{{ .Code }}</pre>
									{{ end }}
								{{ end }}
							</div>
						</div>
					{{ end }}
				{{ end }}

				{{ if .Properties }}
				<h2><a id="properties" href="#properties">Properties</a></h2>
					{{ range $index, $property := .Properties }}
						<a id="property-{{ GetAnchorLink .Name }}"></a>
						<div class="object-element-tbl">
							<div class="object-element-header">
								<span class="type">{{ .Type }}</span> <a href="#property-{{ GetAnchorLink .Name }}"><span class="name">{{ .Name }}</span></a>
							</div>
							<div class="object-element-row">
								{{ if .Description }}
									<p>{{ .Description }}</p>
								{{ end }}
								{{ range .Samples }}
									{{ if SampleHasCodeAndMedia . }}
										<div>
											<div class="floatLeft60Pct">
												<pre>{{ .Code }}</pre>
											</div>
											<div class="floatLeft40Pct">
												<video style="width:100%;" autoplay loop>
												  <source src="{{ .Media }}" type="video/mp4" />
												Your browser does not support the video tag.
												</video>
											</div>
											<div class="clear"></div>
										</div>
									{{ else if .Code }}
										<pre>{{ .Code }}</pre>
									{{ end }}
								{{ end }}
							</div>
						</div>
					{{ end }}
				{{ end }}

			</div>

			<div id="footer">
				<ul>
					<li><a href="https://particubes.com">Particubes.com</a></li><!--
					--><li><a href="https://twitter.com/particubes">Follow us on Twitter</a></li><!--
					--><li><a href="https://www.instagram.com/particubes/">Follow us on Instagram</a></li><!--
					--><li><a href="https://discord.gg/NbpdAkv">Join us on Discord</a></li>
				</ul>
			</div>
		</div>

    </body>
</html>